@font-face {
    font-family: italianno;
    src: url(./assets/fonts/Italianno-Regular.ttf);
}

@font-face {
    font-family: arima;
    src: url(./assets/fonts/Arima-VariableFont_wght.ttf);
}